:root {
  --actns-primary-color: #000000;
  --actns-secondary-color: #ffffff;
  --actns-thirty-color: #ff001e;
}

body {
  margin: 0;
  padding: 0;
  background-color: #000;
  color: var(--actns-secondary-color);
}

.actns-hide {
  display: none;
}

.actns-container {
  color: var(--actns-secondary-color);
}

.actns-animated-multicolor {
  overflow: hidden;
  white-space: nowrap;
}

.actns-container hr {
  margin: 2em 0;
  border-color: #919191;
  opacity: .8;
  box-shadow: 0 0 15px 2px var(--actns-secondary-color);
}

.actns-container h2 {
  font-weight: 300;
  font-size: 18px;
}

.actns-designer-price {
  font-weight: 700 !important;
  font-size: 35px !important;
  margin: 0;
}

.actns-container a {
  color: var(--actns-primary-color);
}

.actns-container a:active,
.actns-container a:focus {
  color: var(--actns-secondary-color);
}

.actns-container {
  height: max-content;
  display: flex;
  font-family: "Montserrat";
}

/* Left section style */

.actns-left-section {
  flex-basis: 60%;
  height: 100%;
  position: relative;
  max-width: 60%;
}

.actns-right-section {
  flex-basis: 40%;
  height: max-content;
}

.actns-left-section-backboard,
.actns-left-section-preview {
  height: 100%;
  width: 100%;
}

.actns-left-section-bg {
  height: 100vh;
  width: 100%;
  background-image: url(../assets/dvfyHwFjDyLXRXPnE6n0i.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.actns-left-section-logo {
  height: 100%;
  width: 100%;
  position: relative;
}

.actns-logo-container {
  position: absolute;
  right: 0;
  top: 0;
  padding: 0 0.5em;
}

.actns-left-section-preview {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 150px;
  text-wrap: wrap;
}

/* Right section style */

.actns-right-section {
  margin: 0 1em;
}

.actns-field-text-editor {
  display: flex;
  flex-direction: column;
}

.actns-field-fonts-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  overflow: auto;
  height: 150px;
}

.actns-field-fonts-container input,
.actns-field-colors-container input,
.actns-field-sizes-container input,
.actns-right-section-options input {
  display: none;
}

.actns-field-fonts-container label {
  display: block;
  padding: 0.5em;
  color: var(--actns-secondary-color);
  border: 1px solid var(--actns-secondary-color);
  border-radius: 0.3em;
  text-align: center;
  cursor: pointer;
  width: 130px;
}

.actns-field-fonts-container input:checked ~ label {
  background-color: var(--actns-secondary-color);
  color: var(--actns-primary-color);
  border: 1px solid var(--actns-primary-color);
}

.actns-field-fonts-container label:hover {
  box-shadow: 0 0 20px 3px var(--actns-secondary-color);
  background-color: var(--actns-secondary-color);
  color: var(--actns-primary-color);
}

.actns-field-colors-container {
  display: flex;
  gap: 15px;
}

.actns-init-default-color label {
  display: block;
  color: rgb(160, 255, 8);
  background-color: currentColor;
  border-radius: 100%;
  height: 45px;
  width: 45px;
  cursor: pointer;
  border: 2px solid var(--actns-secondary-color);
}

.actns-field-colors-container input:checked ~ label {
  color: var(--actns-primary-color);
  border: 2.5px solid var(--actns-primary-color);
}

.actns-field-sizes-container {
  display: flex;
  flex: row;
  flex-wrap: wrap;
  gap: 25px;
}

.actns-field-sizes-container label {
  display: block;
  text-align: center;
  padding: 0.5em;
  background-color: var(--actns-primary-color);
  color: var(--actns-secondary-color);
  border: 2px solid var(--actns-secondary-color);
  cursor: pointer;
  width: 120px;
  border-radius: 0.5em;
}

.actns-field-sizes-container input:checked ~ label {
  background-color: var(--actns-secondary-color);
  color: var(--actns-primary-color);
  border: 1px solid var(--actns-primary-color);
}

.actns-options-group-field {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 25px;
  margin: 1em 0;
}

.actns-custom-options {
  display: block;
  text-align: center;
  padding: 0.5em 1em;
  background-color: var(--actns-primary-color);
  color: var(--actns-secondary-color);
  border: 2px solid var(--actns-secondary-color);
  cursor: pointer;
  width: 150px;
  border-radius: 0.2em;
  position: relative;
  line-height: 2em;
}

.actns-custom-options-modal {
  position: absolute;
  right: 5px;
  bottom: 10px;
  border: 1px solid var(--actns-secondary-color);
  border-radius: 100%;
  height: 15px;
  width: 15px;
  font-size: 12px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.actns-right-section-options input:checked ~ label {
  background-color: var(--actns-secondary-color);
  color: var(--actns-primary-color);
  border: 1px solid var(--actns-secondary-color);
}

.actns-right-section-options input:checked ~ label .actns-custom-options-modal {
  color: var(--actns-primary-color);
  border: 1px solid var(--actns-primary-color);
}

.actns-right-section-options input:hover ~ label .actns-custom-options-modal {
    color: var(--actns-primary-color);
    border: 1px solid var(--actns-primary-color);
  }

.actns-custom-options-content-price {
  font-size: 25px;
}

.actns-add-to-cart-button-section {
  width: 100%;
}

.actns-add-to-cart-button {
  width: 100%;
  background-color: var(--actns-secondary-color);
  color: var(--actns-primary-color);
  font-weight: 600;
}

/*Scroll bar */

.actns-container textarea,
.actns-container input {
  border: 2px solid var(--actns-secondary-color);
  color: var(--actns-primary-color);
  border-radius: 0.2em;
  background-color: var(--actns-secondary-color);
}

.actns-container textarea:focus,
.actns-container input:focus {
  outline: 2px solid var(--actns-secondary-color);
  box-shadow: 0 0 30px 10px var(--actns-secondary-color);
}

.actns-container button {
  color: var(--actns-primary-color);
  text-transform: capitalize !important;
  letter-spacing: normal !important;
  background-color: var(--actns-secondary-color);
  border: solid 2px var(--actns-secondary-color);
  border-radius: 40px;
  font-size: 20px;
  padding: 15px 0;
  margin: 0;
  cursor: pointer;
}

.actns-container button:hover,
.actns-field-sizes-sub-container label:hover,
.actns-options-group-field label:hover{
  box-shadow: 0 0 30px 10px var(--actns-secondary-color);
  background-color: var(--actns-secondary-color);
  color: var(--actns-primary-color);
}


.actns-field-sizes-container label {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.actns-size-price::after {
  content: ")";
}

.actns-size-price::before {
  content: "(";
}

.actns-field-colors-container label:hover {
    box-shadow: 0 0 30px 10px currentColor !important;
    background-color: currentColor !important;
}

.actns-right-section-footer .actns-designer-price {
  margin: .5em;
  margin-left: auto;
  text-align: left;
}